.bg_primary-color {
    background-color: #FFFFFF;
  }
  .primary-color {
    background-color: #FFFFFF;
  }
  .bg_secondary-color {
    background-color: #293241;
  }
  .secondary-color {
    color: #293241;
  }
  .custom-button.btn {
    background-color: #293241;
    color: #FFF;
    border: none;
  }
  .custom-button.btn:hover {
    color: #FFF !important;
    border: none;
  }
  .divider{
    width:5px;
    height:auto;
    display:inline-block;
}
  .position{
  position: absolute;
  top: 60%;
  left: 30%;
  transform: translate(-50%, -50%);
  }
  .hero {
    width: 100vw;
    height: 50vh;
  }
  .hero img {
    object-fit: cover;
    object-position: top;
    height: 100%;
    width: 100%;
  }
  .overlay {
    height: 100%;
    width: 100%;
    opacity: 0.4;
  }
  .bootstrap-tagsinput {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    display: block;
    padding: 4px 6px;
    color: #555;
    vertical-align: middle;
    border-radius: 4px;
    max-width: 100%;
    line-height: 22px;
    cursor: text;
}
.bootstrap-tagsinput input {
    border: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    padding: 0 6px;
    margin: 0;
    width: auto;
    max-width: inherit;
}